<% if (site.posts.length){ %>
  <div class="widget-wrap-player">
    <h3 class="widget-title-player"><%= __('widget.player') %></h3>
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="263" height="110" src="http://music.163.com/outchain/player?type=0&amp;id=65514936&amp;auto=0&amp;height=90"></iframe>
  </div>
<% } %>